[user]
	name = Axel Odelberg
[color]
	ui = true
[alias]
	lg = log --oneline -n 10
	llg = log --oneline -n 10 --branches --not --remotes
	lol = log --oneline --graph --all --decorate -n 25

	ignore = update-index --skip-worktree
	uignore = update-index --no-skip-worktree
	lignore = ls-files -v . | grep ^S
	s = status -s
